<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    {% include "head.html" %} {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Scientific web apps</title>
    {% endif %}
  </head>

  <body class="d-flex flex-column h-100">
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4">Scientific web apps</span>
        </a>
        {% set navigation_bar = [('/', 'index', 'Home'), ('/pim', 'pim', 'Percent Identity Matrix')] -%}
        {% set active_page = active_page|default('index') -%}
        <ul id="navigation" class="nav nav-pills">
          {% for href, id, caption in navigation_bar %}
            <li class="nav-item"><a {% if id == active_page %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
        </ul>
      </header>
    </div>

    <main class="flex-shrink-0">
      <div class="container">{% block content %}{% endblock %}</div>
    </main>
    {% extends "footer.html" %}
  </body>
</html>
